<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row contentWindow">
      <div class="col-md-3 getButton">
        <button class="btn btn-info"
                type="button" id="button-addonGet"
                (click)="sendGet($event)">Get
        </button>
        <div class="showResponse" *ngIf="isGet">
          <div><span>request was send to server {{this.params}}</span>
          </div>
          <div> Response: <span>{{this.response}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 postButton">
        <button class="btn btn-success"
                type="button" id="button-addonPost"
                (click)="sendPost($event)">Post
        </button>
        <div class="showResponse" *ngIf="isPost">
          <div>request to server params: {{this.params}}</div>
            <div>body: {{this.bodyString}}</div>

          <div> Response: <span>{{this.response}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 putButton">
        <button class="btn btn-primary"
                type="button" id="button-addonPut"
                (click)="sendPut($event)">Put
        </button>
        <div class="showResponse" *ngIf="isPut">
          <div>request to server params: {{this.params}}</div>
          <div>body: {{this.bodyString}}</div>

          <div> Response: <span>{{this.response}}</span>


        </div>
        </div>
      </div>
      <div class="col-md-3 deletetButton">
        <button class="btn btn-danger"
                type="button" id="button-addonDelete"
                (click)="sendDelete($event)">Delete
        </button>
        <div class="showResponse" *ngIf="isDelete">
          <div><span>request was send to server {{this.params}}</span>
          </div>
          <div> Response: <span>{{this.response}}</span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
