<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row contentWindow">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   aria-label="input"
                   aria-describedby="button-addon2"
                   #inputValue>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                      type="button" id="button-addon2"
              (click)="sendEcho(inputValue.value)">Button</button>
            </div>
          </div>
          <div class="outputRoomEcho">{{data.echo}}</div>
        </div>
        <div class="col-md-6">
          <div class="outputRoomTime">{{data.time}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-buttons-request></app-buttons-request>
