.contentWindow{
  margin-top: 5%;
}
.outputRoomEcho {
  width: auto;
  height: 300px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px grey;
  text-align: center;
}
.outputRoomTime{
  width: auto;
  height: 355px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px grey;
  text-align: center;
}
